#left {
	float: left;
	width: 40%;
}
#cal_div {
    float: right;
    width: 59%;
}

#bin_tab td {
	width: 17px;
	padding: 1px;
	text-align: center;

}
.bin_bits .right {
	border-top: 1px solid;
}
.bit_1 {
	background: #dce0df;
}
.cal_box {
	border: 1px #b3b0b0 solid;
	overflow: auto;
	min-width: 390px;
}